.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#nav-extension.fixed-top{
  min-height: 80px !important;
  /*opacity: 0.9*/
}

.custom-carousel{
  background: black !important;
  opacity: 0.6;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}

p#know-more > a{
  opacity: 1
}

section{
  margin-top: 100px !important;
}

section>div>header>p {
  margin-top: 100px !important;
  text-transform: uppercase;
  font-family: Tahoma, Candara, "Segoe UI";
  font-size: 5em;
  font-weight: bolder;
  color: #b80629;
}

.section-header{
  width: 100%;
}