.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#nav-extension.fixed-top{
  min-height: 100px !important;
  /*opacity: 0.9*/
}

#carousel1{
  background: black !important;
  opacity: 0.6;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}